.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.management {
  margin-top: 15px;
}

.management-buttons > a {
  margin-right: 5px;
  color: #fff;
}

.management-buttons > button {
  margin-right: 5px;
}

.input-field {
  width: 20%;
}

.min-button {
  background: transparent;
  float: right;
  border-color: transparent;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;
  height: 100%;

  .board-bar {
    background: rgb(243, 150, 154, 0.7);
    padding: 8px 15px;

    .board-name {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: white;
      border-radius: 4px;
    }
  }

  .board-body {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    flex-direction: column;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;

        min-width: 300px;
        margin: 50px;
        padding: 25px;

        border-radius: 4px;

        background: grey;

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-name {
          font-size: 20px;
          font-weight: 800;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: white;
        }
      }
    }
  }
}

.name-field {
  width: 50%;
}

.tasks-container {
  flex-grow: 1;
}

.task {
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.task-id {
  display: none;
}

.task-name {
  font-weight: bold;
}

.task-description {
  font-weight: normal;
}

.details {
  display: flex;
  flex-direction: column;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.text-bold {
  font-weight: bold;
}

.task-users {
  display: flex;
  flex-direction: row-reverse;
}

.input-field-larger {
  width: 40%;
}

.assigned {
  color: green;
}